/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-general);
}

:root {
    /* Fonts */
    --font-general: 'Fredoka', sans-serif;

    /* Colors */
    --color-primary: #1C1B29;
    --color-secundary: #292841;
    --color-white: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary);
}

main {
    background-color: var(--color-secundary);
    width: 500px;
    min-height: 400px;
    padding: 50px;
    border-radius: 20px;
    position: relative;
}
main .text {
    color: var(--color-white);
    text-align: center;
}
main .text h1 {
    font-weight: 500;
}
main .text p {
    border-bottom: 1px solid var(--color-white);
    padding-bottom: 10px;

}

.add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.add input {
    width: 300px;
    outline: none;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
}
.add button {
    cursor: pointer;
    flex: 1;
    margin-left: 10px;
}

.task {
    margin-bottom: 70px;
}

.add--list {
    display: flex;
    justify-content: space-between;
    background-color: red;
    margin: 10px -50px;
    padding: 20px 50px;
    align-items: center;
}
.add--list .left h2 {
    font-size: 20px;
    font-weight: 500;
}
.add--list .right {
    display: flex;
    align-items: center;
}
.add--list .btn--complete {
    margin-right: 10px;
}
.add--list .btn--complete input {
    height: 20px;
    width: 20px;
}



.dark--light {
    background-color: aqua;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    
}